.alert-message {
  display: flex;
  justify-content: center;
  font-family: 'Arial';
  border: 1px solid #91caff !important;
  border-radius: 6px;
  margin-top: 10px;
  padding: 20px;
  background-color: #e6f4ff;
}
