.wrapper {
  box-sizing: border-box;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  max-width: 502px;
  min-width: 280px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: 184px;
  padding: 16px 16px 0 16px;
}
.priceContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px 0;
  padding: 0 10px 0 10px;
  img {
    display: block;
  }
}
.price {
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #2196f3 !important;
}
.segment {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 107px;
    white-space: nowrap;
    padding-right: 0.5em;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.label {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  color: #a0b0b9;
}
.value {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height, or 150% */
  display: flex;
  align-items: center;
  color: #4a4a4a;
}
@media (max-width: 755px) {
  .wrapper {
    max-width: 700px;
  }
}
