.logo {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}
.app_content {
  margin-left: 20px;
  width: 75vw;
}
.app_wrapper {
  display: flex;
  justify-content: center;
}
.app_container {
  margin: 0 auto;
  max-width: 1080px;
}
@media (max-width: 755px) {
  .app_wrapper {
    display: block;
  }
  .app_content {
    display: flex;
    margin: auto;
    flex-direction: column;
    margin-top: 20px;
    width: 75vw;
  }
}
