.ant-space {
  margin: 50px 0 2em 25em !important;
  align-items: center;
}
.ant-spin-dot {
  font-size: 45px !important;

  i {
    width: 18px !important;
    height: 18px !important;
  }
}
.ant-spin-text {
  margin: 10px 0 0 10px;
}
