@import-normalize;

@font-face {
  font-family: 'Open-Sans';
  src: url(../public/assets/fonts/OpenSans-SemiBold.ttf);
  font-weight: 600;
  font-family: 'Open-Sans';
  src: url(../public/assets/fonts/OpenSans-Regular.ttf);
  font-weight: 400;
}

body {
  font-family: Open-Sans;
  font-weight: 600;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #f3f7fa;
}

p,
ul {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
